.Card   {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    min-width: 200px;
}

.CardImage  {
    height: auto;
}

.CardContent    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 1rem 0 1rem;
    padding: 0;
}

.botonDetalle   {
    background-color: #FF8100;
    border: none;
    border-radius: 5px;
    padding: 7.5px;
    margin: 5px;
    min-width: 100px;
    font-weight: bold;
}

.botonDetalle:hover     {
    box-shadow: 5px 5px 25px #FF8100;
}