body  {
  font-family: "Source Sans Pro";
}

.logoPrincipal   {
  width: 275px;
  height: auto;
}

.navbar   {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #FF8100 ;
  border-bottom: 5px solid #541388;
  margin: 0;
  padding: 0;
}

.navbar-nav   {
  align-items: center;
  margin-left: auto;
}

.navbar-toggler {
  margin-left: auto;
  height: 3.5rem;
  width: 3.5rem;
}

.nav-item   {
  display: flex;
  align-items: center;
  margin: 1.2rem;
}

.nav-link  {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 3px solid #FF8100;
}

.nav-link:hover {
  border-bottom: 3px solid #541388;
}

.destacados   {
  background-color: #541388;
  border-radius: 5px;
  padding: 0.4rem;
  width: 9rem;
}

.destacados a {
  color: #FFFFFF;
  border-bottom: 3px solid #541388;
}

.destacados a:hover   {
  color: #FFFFFF;
  box-shadow: 3px 3px 25px #541388;
}

.cartContainer {
  position: relative;
  margin-right: 2.5rem;
  min-width: 4rem;
  height: 4rem;
}

.cartItems  {
  position: absolute;
  background-color: black;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  top: 1px;
  right: 1px;
  color: white;
  font-weight: bold;
}

.cartIcon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 45px;
  height: 45px;
}
