.counter    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.control    {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    font-size: 1.2rem;
}

.quantity   {
    font-weight: bold;
    margin: 0;
}

.button     {
    background-color: #FF8100;
    border: none;
    border-radius: 5px;
}

.buttonControl  {
    width: 4ch;
}

.buttonAddToCart   {
    padding: 0.25rem 1rem 0.25rem 1rem;
}